<h2 class="text-center" style="color: crimson;"> Welcome to SSSSS Blood Bank</h2>
<hr style="height: 2px; border-width: 5px; background-color: aqua;" />
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <img src="https://cdn2.vectorstock.com/i/1000x1000/73/06/donate-blood-save-a-life-vector-13347306.jpg" alt="Image not found">
        </div>
        <div class="col-md-6">
           <p> This app can give you the list of  the donors based on the location and blood group We need. Now-a-days we are missing many of our freinds and families because of some accidents or health issue and they need blood but they don't get it in proper time.
                So we want to enable one app which can give all the contact details of the person who is near to you with required blood group. </p>
        </div>
        
    </div>
</div>

<footer class="footer">
    Contact us @ navyamarakala39@gmail.com
</footer>




